*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.nav {
    color: black;

    background-color: rgb(221, 221, 235);
}

.nav0 {

    background-color: rgb(221, 221, 235);
}
.navitem li {

display: inline;
font-size: 70px;
padding-left: 60px;
padding-right: 60px;
font-family: 'Permanent Marker', cursive;
margin-left: 150px ;
border: 2px so;
}
.imagenfondo {
    font-family:'Permanent Marker', cursive;
    font-size: 75px;
    /*background-image: url("./moto.jpg");
    /*background-repeat: no-repeat;*/
    text-align: center;
    color: gold;
}
.imagenfondo2 {
    font-family:'Permanent Marker', cursive;
    font-size: 75px;
    background-image: url("./logo1.jpg");
    /*background-repeat: no-repeat;*/
    text-align: center;
    color: gold;
}
.imagen {

  display: flex;
  position: 100px;
  background-color: aqua;  
  width: 10000px;
  height: 800px;
  
}
.letras {

    background-color: blueviolet;
    font-family:'Permanent Marker', cursive;
    font-size: 75px;
    text-align: center;
    width: 1500px;
    height: auto;
}
.letras_subtitulo {

    background-color: blueviolet;
    font-family:'Permanent Marker', cursive;
    font-size: 30px;
    width: 3000px;
    height: 50px;
    
}

.flex-container {
    margin: 200px;
    /*background-image: url("./logo1.jpg");
    /*background-color: aqua;*/
    padding: 10px;
    display: flex;
    height: 1200px;
    gap: 30px;
    flex-flow: row wrap;
    align-items: flex-end;         /*mueve los item del interior del contenedor*/
    justify-content: space-between;  /*mueve el bloque de los contenedores en sentido horizonta y align conten en vertical*/
}
/*
.flexitem {
    border: 2px solid;
    text-align: center;
   */ 
.linkInstagram {
    
 /*href="https://instagram.com/guevarajmalarmas?utm_medium=copy_link"*/
font-size: 40px;
text-align-last: right;

}

